@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  /*Primary*/
  --col-one-orange: hsl(31, 77%, 52%);
  --col-two-cyan: hsl(184, 100%, 22%);
  --col-three-dark-cyan: hsl(179, 100%, 13%);

  /*Neutral*/
  /*
paragraphs text
*/
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  /*
background, headings text, buttons
*/
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background-color: var(--very-light-gray);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.three-col {
  width: 90%;
  max-width: 1080px;
}
.container {
  padding: 3em;
  width: 100%;
}

.col h1,
p {
  color: var(--very-light-gray);
}
.logo {
  padding-bottom: 1.875rem;
}
h1 {
  margin-bottom: 1em;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  text-transform: uppercase;
}
p {
  line-height: 2;
  margin-bottom: 2rem;
}
.btn {
  padding: 1rem 0;
}
.col a {
  text-decoration: none;
  padding: 0.8em 2em;
  border-radius: 100px;
  background-color: var(--very-light-gray);
  outline: none;
  cursor: pointer;
}
.col a:hover {
  opacity: 0.8;
}
.orange {
  background-color: var(--col-one-orange);
}
.orange a {
  color: var(--col-one-orange);
}
.cyan {
  background-color: var(--col-two-cyan);
}
.cyan a {
  color: var(--col-two-cyan);
}
.dark-cyan {
  background-color: var(--col-three-dark-cyan);
}
.dark-cyan a {
  color: var(--col-three-dark-cyan);
}
.footer {
  margin: 2rem 0;
  display: grid;
  place-items: center;
}
.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 660px) {
  main {
    margin: 3rem 0;
  }
  .three-col {
    border-radius: 10px;
    overflow: hidden;
  }
  .row {
    display: flex;
  }
  .col {
    flex: 1;
  }
}
